/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100% !important;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    text-shadow: 0 0px 0 #f3f3f3 !important;
}

a p i span
{
    text-shadow: none;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
/* Placeholder color change*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #720072;
    font-size: 18px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #720072;
    opacity:  1;
    font-size: 18px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #720072;
    opacity:  1;
    font-size: 18px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #720072;
    font-size: 18px;
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.login-cell
{
    box-shadow: none;
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}
.login-page
{
    width: 100vw;
    height: 100vh;
    background-color: #e49c4c;
}
.ui-page-theme-a .ui-focus
{
    box-shadow: none !important;
}
.ui-page-theme-a .ui-body-inherit
{
    background-color: #fff;
    border-color: #5d5454;;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}
.login_cell
{
    height: 75px;
}
.login-cell input{
    height: 40px;
    border: 2px solid #504a4a;
    font-size: 20px;
}
.user_cell
{
    margin-top: 15px;
}
.social_cell
{
    padding: 25px;
}
.social_cell a
{
    border: 1px solid;
    height: 40px;
    width: 40%;
    text-align: center;
    line-height: 43px;
    background-color: #1dcc44;
    border-radius: 7px;
    color: #e4410b;
    text-shadow: none;
    font-size: 18px;
}
.login
{
    float: left;
}
.signup
{
    float: right;
}
.forget
{
    text-shadow: none;
    font-size: 14px;
}
.submit
{
    border: 1px solid;
    height: 40px;
    width: 40%;
    text-align: center;
    line-height: 43px;
    background-color: #1dcc44;
    border-radius: 7px;
    color: #e4410b;
    text-shadow: none;
    font-size: 18px;
}